* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$main-page-bg: rgb(26, 26, 26);
$footer-copyright-sign: rgb(92, 92, 92);
$text-color: rgb(255,255,255);
$placeholder-color: #aaa;
$hover-color: #ff0;
$table-nav: #5c5c0d;
$table-td: #ffffb5;
$modal-bg: rgba(26, 26, 26, 0.9);